<p-tabView styleClass="tabview-custom">
    <p-tabPanel *ngIf="isEmployee">
        <ng-template pTemplate = "header">
            <i class="pi pi-star-fill"></i>
            <span>Vagas Favoritas</span>
        </ng-template>
        <div>
            <app-search [botaoAdicionar]="!isEmployee" searchType="f"></app-search>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Minhas vagas">
        <ng-template pTemplate = "header">
            <i class="pi pi-user"></i>
            <span>Minhas vagas</span>
        </ng-template>
        <div>
            <app-search [botaoAdicionar]="true" searchType="m"></app-search>
        </div>
    </p-tabPanel>
</p-tabView>
