<p-dialog [(visible)]="displayDialogLogin" [modal]="true" [style]="{width: '300px', color: 'blueviolet', background: 'purple'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false">
    <div class="logo" style="font-size: 24px; display: flex; justify-content: center; background: rgb(255, 255, 255); width: 100%;">
     
     <img src="https://i.imgur.com/YYZN0i8.png">
    </div>
    <div class="div-input" style=" margin-top: 20px; margin-bottom: 30px;">
      <div>
        <span class="p-float-label">
          <input id="email-input" [(ngModel)]="userEmail" type="text" pInputText style="width: 222px;">
          <label for="email-input">Email</label>
        </span>
      </div>
      <div>
        <span class="p-float-label" style="margin-bottom: -10px;">
          <p-password id="password-input" [(ngModel)]="userPassword" [toggleMask]="true" [feedback]="false"></p-password>
          <label for="password-input">Password</label>
        </span>
      </div>
    </div>
    <!-- <div style="text-decoration: underline;">
      <a href="#">
        <span>Esqueceu sua senha ?</span>
      </a>
    </div> -->
    <div class="spinner" [style]="{display:spinnerLoading?'block':'none'}" >
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
    </div>
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-check" [disabled]="spinnerLoading" (click)="login()" label="Logar" class="p-button-help" class="p-button-help"></button>
        <button pButton type="button" icon="pi pi-times" [disabled]="spinnerLoading" (click)="closeDialog()" label="Cancelar" class="p-button-help" class="p-button-help"></button>
    </ng-template>
    <p-toast position="top-left"></p-toast>
</p-dialog>
