.div-input{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 13px;
}

.spinner{
    margin-left: 45%;
    margin-top: 10px;
}
