<p-dialog header="Calculadora" [(visible)]="displayDialogCalculator" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false">
    <div class="div-input" style="display: flex; align-items: center; padding: 10px;">
      <div>
        <p-inputNumber [disabled]="!!salaryInDollar" placeholder="Salário Bruto" [(ngModel)]="salaryInDollar" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
      </div>
      <div style="display: flex; align-items: center; padding-left: 10px;">
        <p-checkbox label="INSS" [binary]="true" [(ngModel)]="usingINSS"></p-checkbox>
      </div>
      <div style="display: flex; align-items: center; padding-left: 10px;">
        <button pButton type="button" icon="pi pi-money-bill" label="Calcular" class="p-button-help" class="p-button-help" (click)="calculateNetSalary()"></button>
      </div>
      </div>
    <p style="display: flex; align-items: center; padding: 10px;">Cotação Atual do Dólar: R$ {{dolarValue}}</p>
    <div class="div-table" [style]="{display: tableSalary.length ? 'table' : 'none'}">
        <p-table [value]="tableSalary" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                Resultado do Cálculo
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Percentual</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemTableSalary>
                <tr>
                    <td>{{itemTableSalary.description}}</td>
                    <td>{{itemTableSalary.value}}</td>
                    <td>{{itemTableSalary.procent}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-template pTemplate="footer">
        <!-- <p-button icon="pi pi-times" (click)="closeDialog()" label="Finalizar" class="p-button-text"></p-button> -->
        <button pButton type="button" icon="pi pi-times" label="Finalizar" class="p-button-help" class="p-button-help" (click)="closeDialog()"></button>
    </ng-template>
</p-dialog>
