<h1 class="title">Cadastro de Usuário</h1>
<div class="div-register-user">
    <span class="p-float-label">
        <input id="nome-input" [(ngModel)]="name" type="text" pInputText> 
        <label for="nome-input">Nome Completo</label>
    </span>
    <span class="p-float-label">
        <input id="email-input" [(ngModel)]="email" type="text" pInputText> 
        <label for="email-input">Email</label>
    </span>
    <span class="p-float-label">
        <p-password id="password-input" [(ngModel)]="password" [toggleMask]="true"></p-password>
        <label for="password-input">Password</label>
    </span>
    <div>
        <p-radioButton value="77bf0b52-5745-4dbd-8854-68f39dc5cb91" [(ngModel)]="accountType" inputId="empregador-input"></p-radioButton>
        <label for="empregador-input">Empregador</label>
    </div>
    <div>
        <p-radioButton value="57a946a6-c9d5-4f65-82b6-7cdda2bec297" [(ngModel)]="accountType" inputId="empregado-input"></p-radioButton>
        <label for="empregado-input">Empregado</label>
    </div>
    <button pButton pRipple type="button" label="Cadastrar" (click)="createNewUser()"></button>
</div>