<div class="div-register-user">
  <div style="">
    <img src="https://i.imgur.com/YYZN0i8.png">
      <div>
        <span class="p-float-label" >
          <input id="nome-input" [(ngModel)]="name" type="text" pInputText style="width: 222px;">
          <label for="nome-input">Nome Completo</label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <input id="email-input" [(ngModel)]="email" type="text" pInputText style="width: 222px;">
          <label for="email-input">Email</label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <p-password id="password-input" [(ngModel)]="password" [toggleMask]="true" [feedback]="false"></p-password>
          <label for="password-input">Password</label>
        </span>
      </div>
      <div style="margin: 10px;">
          <p-radioButton value="77bf0b52-5745-4dbd-8854-68f39dc5cb91" [(ngModel)]="accountType" inputId="empregador-input"></p-radioButton>
          <label for="empregador-input">Empregador</label>
      </div>
      <div style="margin: 10px;">
          <p-radioButton value="57a946a6-c9d5-4f65-82b6-7cdda2bec297" [(ngModel)]="accountType" inputId="empregado-input"></p-radioButton>
          <label for="empregado-input">Empregado</label>
      </div>
      <div style="margin: 10px;">
        <button pButton pRipple type="button" label="Cadastrar" (click)="createNewUser()"></button>
      </div>
    </div>
</div>

<!-- <div class="div-register-user">
  <span class="p-float-label">
      <input id="nome-input" [(ngModel)]="name" type="text" pInputText>
      <label for="nome-input">Nome Completo</label>
  </span>
  <span class="p-float-label">
      <input id="email-input" [(ngModel)]="email" type="text" pInputText>
      <label for="email-input">Email</label>
  </span>
  <span class="p-float-label">
      <p-password id="password-input" [(ngModel)]="password" [toggleMask]="true"></p-password>
      <label for="password-input">Password</label>
  </span>
  <div>
      <p-radioButton value="77bf0b52-5745-4dbd-8854-68f39dc5cb91" [(ngModel)]="accountType" inputId="empregador-input"></p-radioButton>
      <label for="empregador-input">Empregador</label>
  </div>
  <div>
      <p-radioButton value="57a946a6-c9d5-4f65-82b6-7cdda2bec297" [(ngModel)]="accountType" inputId="empregado-input"></p-radioButton>
      <label for="empregado-input">Empregado</label>
  </div>
  <button pButton pRipple type="button" label="Cadastrar" (click)="createNewUser()"></button>
</div> -->

<!-- <div class="content" style="margin-top: 20px;">
  <div id="cadastro">
    <form method="post" action="">
      <h1 style="color: blueviolet;">Cadastro</h1>

      <p>
        <label for="nome_cad">Seu nome</label>
        <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
      </p>

      <p>
        <label for="email_cad">Seu e-mail</label>
        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="seuemail@email.com"/>
      </p>

      <p>
        <label for="senha_cad">Sua senha</label>
        <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234"/>
      </p>
      <p>
        <input style="background: blueviolet;" type="submit" value="Cadastrar"/>
      </p>

      <p class="link" style="margin-top: 15px;">
        Já tem conta?
        <a href="#paralogin"  style="color: blueviolet; margin-top: -15px;"> Ir para Login </a>
      </p>
    </form>
  </div>
</div> -->
